src/datasets/dataRnn/glove*
src/datasets/audio/XY_dev/*
src/datasets/audio/XY_train/*
src/datasets/bike_data/*
src/datasets/models/*
src/models/*.h5
src/models/*.weights
src/models/*weights
src/models/keras*
src/models/model_data/variables
src/*.h5
src/images/*/*.mp4
src/bike_data/*
*.zip
*.tar.gz
__pycache__
.ipynb_checkpoints
.DS_Store
data/
