src/datasets/dataRnn/glove*
src/datasets/audio/XY_dev/*
src/datasets/audio/XY_train/*
src/datasets/bike_data/*
src/datasets/models/*
src/models/*.h5
src/models/*.weights
src/models/*weights
src/models/keras*
src/models/model_data/variables
src/*.h5
src/images/*/*.mp4
src/bike_data/*
*.zip
*.tar.gz
__pycache__
.ipynb_checkpoints
.DS_Store
data/
./.git/objects/pack/tmp_pack_4kEpOR
./.git/objects/3e/972fa311cf9700bd8d146a6bb7f40bf30daace
./.git/objects/eb/479cd673d36a762eeb0cd7ea67026e7073755a
./.git/objects/pack/pack-dbaef3a8170859e9caec02b82394860f7849a620.pack
./.git/objects/pack/tmp_pack_4kEpOR
./.git/objects/b0/3ed79964f8f2100958afb4f0602258778b5548
./.git/objects/ce/108f22532797bfa0f74ad03334ffdef424440b
