/datasets/dataRnn/glove*
/datasets/audio/XY_dev/*
/datasets/audio/XY_train/*
/datasets/bike_data/*
/datasets/models/*
/models/*.h5
/models/*.weights
/models/*weights
/*.h5
/images/*.mp4
/bike_data/*
/*.zip
/*.tar.gz
__pycache__
.ipynb_checkpoints
.DS_Store
